#alerta{
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.ceulimpo{
    background-color: rgb(120, 146, 193);
    font-size: 20px;
}
.nublado{
    background-color: rgb(15, 15, 67);
    color: white;
}

#cores{
    height: 300px;
    width: 300px;
}

.verde{
    background-color: green;
}
.vermelho{
    background-color: red;
}
.azul{
    background-color: blue;
}

#listaCarros, th, td{
    border: 1px solid black;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#titulo{
    text-align: center;
}

tr th{
    color: white;
    background-color: gray;
}

tr:nth-last-child(even){
    background-color: rgb(153, 152, 152);
}

button{
    background-color: red;
    color: white;
    border-radius: 10px;
}